body{
    overflow-y: hidden;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#Welcome {
    margin: 1%;
}

#WelcomeBodySection{
    background: #fff;
    text-align: center;
    
    margin: 1%;
    margin-top: 3%;
    margin-bottom: 3%;

    padding: 1%;

    transition: box-shadow 0.3s ease-in-out 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    animation: fadeInAnimation ease 3s;
}

#WelcomeBodySection:hover{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#Welcome img{
    margin: 4%;
    height: 45vh;

    transition: box-shadow 0.3s ease-in-out 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    animation: fadeInAnimation ease 3s;
}

#Welcome img:hover{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#Image {
    display: flex;
    justify-content: center;
}

h1{
    font-size: 250%;
}

p{
    font-size: 100%;
}

@media screen and (min-width: 800px){
    #Image {
        display: inline;
    }

    #Welcome {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Welcome img{
        border: 5px solid #000;
    }
}