#container {
    display: flex;
    justify-content: center;
    align-items: center; 
}    

iframe{
    display: block;
    margin: 1% auto;
    width: 50%;
    height: 40vh;
}

p,h2{
    padding-left: 2%;
}

section img{
    height: 100%;

    margin-top: 1%;
    margin-bottom: 1%;

    border: 2px double #161A1D;
}

div{
    display: inline-block;
}

section a {
    color: #161A1D;
}

section a:hover{
    color: #660708;
}

.imageCarousel{
    margin: 2%;
    height: 20vh;
}

#left, #right{
    cursor: pointer;
}

@media screen and (min-width: 700px){
    .imageCarousel{
        height: 48vh;
    }
}

@media screen and (min-width: 800px){
    #left, #right{
        visibility: hidden;
    }

    .imageCarousel{
        height: 50vh;
    }
}