.project{
    background: #fff;

    padding: 1%;

    margin: 5vh;
    height: 30vh;

    transition: box-shadow 0.3s ease-in-out 0s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    animation: slideInFromBottom ease 3s;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

.project:hover{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.project:hover h2{
    color: #660708;
}

.project h2{
    text-align: center;
}

.project img{
    float: left;
    height: 60%;
    margin-right: 2%;

    border: 2px double #161A1D;
}

section{
    height: 170vh;
}

section a{
    color: #161A1D;
    text-decoration: none;
}

section p{
    padding-left: 2%;
}

@media screen and (min-width: 1200px){
    .project{
        display: inline-block;

        margin-top: 5%;
        margin-right: 5%;
        margin-left: 6%;

        width: 35%;
        height: 30vh;
    }

    section{
        height: 120vh;
    }
}